@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,700&family=Roboto:wght@400;700;900&display=swap);


* {
    font-family: roboto;
    margin: 0;
    box-sizing: border-box;    
}

body {

    background-color: black;
}


p{

    color: white;
}

.banner {

    background-image:linear-gradient(rgba(0,0,0,.6), rgba(49,168,221,.2), rgba(0,0,0,.6)), url(./assets/images/banner.png);
    width: 100%;
    height: 605px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #33A8DB80;
    padding-top: 60px;
}


.banner-content {

    width: 100%;
    height: 250px;
    padding: 62px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    color: white;
    


}


.banner-content img {

margin-bottom: 24px;
background-color: rgba(0,0,0,.2);
width: 248px;
height: 214px;
border-radius: 50%;
padding: 16px;


}

.banner-content h1 {


    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
   background-blend-mode: multiply;


}


.banner-content p {

    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: 100;
    




}


.banner-content button {


    font-weight: 900;
    width: 300px;
    margin-top: 16px;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #31A8DD;
    background: transparent;
    border-color: #31A8DD;

}

h2{

    color: #33A8DB;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}


main {

    width: 100%;
    text-align: center;
    
}

#course-content {

    
    text-align: center;
    border-bottom: #31A8DD solid 1px;
    height: 450px;
    

}

#course-content h2 {

    
    margin-top: 100px;
    margin-bottom: 50px;
    
}

#course-content p {

    margin: auto;
    font-size: 16px;
    font-weight: 400;
    width: 750px;
}

#course-content .modules-list {
    margin: 24px ;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
  }




.modules-list span {

    color: #33A8DB;
    
}


#transform-world {

    width: 100%;
    height: 800px;
    background-image: url(./assets/images/woman-code.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px;
}

#transform-world p {

    width: 250px;
    height: 141px;
    font-weight: 900;
    font-size: 45px;
    color: #ffffff;
    text-align: left;
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
    
}



#professional-challenges h2 {


 font-weight: 700;
 font-size: 40px;
 letter-spacing: 7px;
 width: 900px;
 height: 76px;
 margin-top: 75px;
 margin-left: 550px;
 margin-bottom: 60px;
    
}

#professional-challenges img {

    max-width: 659px;
    height: 429px;
}

#professional-challenges p {

    font-size: 16px;
    font-weight: 400;
    width: 792px;
    height: 76px;
    margin-left: 550px;
    margin-top: 15px;
    margin-bottom: 100px;
}


section, #professional-challenges {

    border-bottom: #33A8DB solid 1px;
}


footer {

    text-align: center;
    height: 200px;
    background-image: linear-gradient(rgba(51, 168, 219, 0), rgba(51, 168, 219, .2));
   
}


footer img {

    width: 310px;
    height: 44px;
    margin-top: 57px;
    margin-bottom: 10px;
}

footer p {

    font-size: 16px;
    font-weight: 300;
}

footer a {

    color: #33A8DB;
    font-weight: 700;
    text-decoration: none;
    
}
    

